<!-- Extend tag is used for inheritance of templates in django -->
{% extends "blog/base.html"%}
{% block content %}
        {% for post in posts %} 
            <article class="media content-section">
                <div class="media-body">
                    <div class="article-metadata">
                    <a  class="text-name" class="mr-2"  href="#">{{ post.author }}</a>
                    <small class="text-muted">{{ post.date_posted|date:"F d Y"}}</small>
                    </div>
                    <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
                    <p class="article-content">{{ post.content }}</p>
                </div>
            </article>
        {% endfor %} 
        <!-- For for loop -> endfor || for If -> end if -->
        <!-- To access variables we use double curly brackets -->
{% endblock content %}


